<tr>
  <td>{{city}}
  {{#if bk}}
   ({{bk}})
  {{/if}}
  ({{dateToFind}})
  </td>
  <td class='allBkRelation'>
  {{allBkRelation}}
  </td>
   <td  class='bkRelation'>
  {{bkRelation}}
  </td>
  <td  class='salary'>
  {{salary}}р.
  </td>
	<td  class='sportPopulatiy'>
  {{sportPopularity}}%
  </td>
   <td class='bkPopularity'>
  {{bkPopularity}}%
  </td>
   <td data-allbkrelation={{allBkRelation}} 
data-bkrelation={{bkRelation}}
data-sportpopularity={{sportPopularity}}
data-salary={{salary}}  
data-bkpopularity={{bkPopularity}} 
	class='potentialCoefficient uncalculated'>
  </td><td><span class='help' title='Перспективнось в баллах сравнима либо для всех контор, либо для каждой конкретной. 
  Некорректно сравнивать количество баллов перспективности для всех контор с какой-то отдельной. Т.е. в рамках одного города мы можем условно установить, какая из контор перспективнее.'><b>[?]</b></span></td>
</tr>