	<tr>
		<td>{{bk}} {{#if city}} - {{city}}{{/if}} ({{yearFrom}} - {{yearTo}})</td>
		<td class='yearFromVal' data-value={{yearFromQuantity}}>{{yearFromQuantity}}</td>
		<td class='yearToVal' data-value={{yearToQuantity}}>{{yearToQuantity}}</td>
		<td class='dynamics'></td>
	</tr>