<tr>
  <td>{{city}}
  {{#if bk}}
   ({{bk}})
  {{/if}}
  </td>
  <td>
  {{data.bkRelation}}
  </td>
  <td>
  </td>
	{{data.salary}}
   <td>
  {{data.bkPopularity}}
  </td>
   <td>
  {{data.potentialCoefficient}}
  </td>
</tr>