<tr>
  <td>{{city}}
  {{#if bk}}
   ({{bk}})
  {{/if}}
  ({{dateToFind}})
  </td>
  <td class='allBkRelation'>
  {{allBkRelation}}
  </td>
   <td class='bkRelation'>
  {{bkRelation}}
  </td>
  <td class='salary'>
  {{salary}}
  </td>
	<td class='sportPopulatiy'>
  {{sportPopularity}}
  </td>
   <td class='bkPopolarity'>
  {{bkPopularity}}
  </td>
   <td class='potentialCoefficient'>
  </td>
</tr>