 <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Сводная таблица</a>
                </li>
                <li>
                    <a href="#">Продукт</a>
                </li>
                <li>
                    <a href="#">Коэффициенты</a>
                </li>
                <li>
                    <a href="#">График</a>
                </li>
                <li>
                    <a href="#">Социальные факторы</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
			<a href="#menu-toggle" class="btn btn-primary" id="menu-toggle"><span class="icon-chevron-left icon-white"></span></a>
            <div class="container-fluid" style='font-family: "Open Sans", sans-serif;'>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div id="divHeaderLine1" style='margin-top: 40px;'>Конкурентный анализ букмекерских контор</div>
						<div class="table-responsive">
							<table class="table table-striped" style='margin-top: 40px;'>
							  <thead>
								<tr>
								  <th></th>
								  <th></th>
								  <th>Итоговый рейтинг</th>
								  <th>Отзывы игроков</th>
								  <th>Доля онлайн</th>
								  <th>Доля оффлайн</th>
								  <th>Доля итого</th>
								  <th>Выручка (млнруб)</th>
								  <th>Оценка эксперта</th>
								  <th>Маржа</th>
								</tr>
							  </thead>
							  <tbody>
							  {{#each bk}}
								<tr>
								  <td class='placenumber'></td>
								  <td>{{name}}</td>
								  <td>{{totalRate}}</td>
								  <td>{{playerFeedbackRate}}</td>
								  <td>{{onlineShareRate}}</td>
								  <td>{{offlineShareRate}}</td>
								  <td>{{totalShareRate}}</td>
								  <td>{{profit}}</td>
								  <td>{{expertsMark}}</td>
								  <td>{{marja}}</td>
								</tr>
								{{/each}}
							  </tbody>
							</table>
						</div>	
                    </div>
                </div>
				<div class="span12" id="divMain">
                    <h1>Что умеет сервис?</h1>
					<p>Изучите раздел "Анализ", там Вы найдете:</p>
					<ul>
					<li>сравнения качества онлайн-продуктов букмекеров</li>
					<li>интерактивную карту изменения количества ППС и географии расположения</li>
					<li>подробные данные о марже букмекеров, ее движение в реальном времени</li>
					<li>информацию о источниках трафика онлайн букмекеров</li>
					<li>портрет аудитории букмекера</li>
					<li>информацию о каналах и рекламных креативах букмекеров</li>
					<li>подробную аналитику в разделе "Рынок труда": каких специалистов сейчас ищет рынок</li>
					<li>самые главные новости мирового и отечественного букмекерства;</li>
					</ul>
                  </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    <script>
	$(document).ready(function(){
		placeNumbers();
		$('#mainLink').addClass('active');
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	});
	function placeNumbers(){
		let i=1;
		$('.placenumber').each(function(){
			$(this).html(i);
			i++;
		});
	}
    </script>
 </div>