
<div class='container'>
    <div class="divPanel page-content">
        <div class="breadcrumbs">
                <a href="/">SBA</a> &nbsp;/&nbsp;  <a href="/bkpage/{{bk.bk}}">Страница букмекера</a> &nbsp;/&nbsp;<span>Репутация</span>
            </div> 
        <div class="row-fluid">
                <div class="span12">
                    <h1>Репутация букмекера {{bk.name}}</h1>
					<div class="table-responsive">
							<table class="table table-striped" >
								<thead>
									<th></th>
									<th></th>
									<th>Всего</th>
									<th>Полож.</th>
									<th>Отриц.</th>
									<th>Нейтр.</th>
									<th>Оценка пользователей</th>
								</thead>
								<tbody>
								{{#each bk.comments}}
								<tr>
									<td></td>
									<td>{{this.source}}</td>
									<td>{{this.total}}</td>
									<td>{{this.positive}}</td>
									<td>{{this.negative}}</td>
									<td>{{this.neutral}}</td>
									<td>{{this.mark}}</td>
								</tr>
								{{/each}}
								</tbody>
							</table>
							</div>
                    <div id="gridArea" style="height: 1795px;">
                        <ul id="tiles" style='list-style-type: none;'>          
                        <li>
                            <p>Последние отзывы</p>
							{{#each lastComments}}
							 <p>{{this.date}} - {{this.source}}: {{this.comment}}</p>
							{{/each}}
						</li>                
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
<script>
	$(document).ready(function(){
		$('#onlineLink').addClass('active');
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	});
 </script>