<form id="editSocial"  action="/admin/editform?q=editsocialform" method="post" style="margin-left: 5%;">
	<h3>Соц факторы букмекера {{name}}</h3>
	{{#if _id}}
	<input type="text" class="form-control" style='display:none' name='_id' value='{{_id}}' readonly>
	{{else}}
	Страница не существует
	{{/if}}
	<div class="form-group">
		<div class="input-group">
			<label for = "name">Короткое название БК</label>
			<input type="text" class="form-control" name='bk' value='{{bk}}' readonly>
		</div>
	</div>
    <div class="form-group">
		<div class="input-group">
			<label for = "name">Полное название БК</label>
			<input type="text" class="form-control" name='name' value='{{name}}'>
		</div>
	</div>
	<div class="form-group">
	<div class="input-group">
			<label for = "name">ВК(подписчики, лайки, шэры, каменты, просмотры, публикации)</label>
			<input type="number" title='подписчики' class="form-control" name='vk.sbcrb' value='{{vk.sbcrb}}'>
			<input type="number" title='лайки' class="form-control" name='vk.likes' value='{{vk.likes}}'>
			<input type="number" title='шэры' class="form-control" name='vk.shares' value='{{vk.shares}}'>
			<input type="number" title='коменты' class="form-control" name='vk.comments' value='{{vk.comments}}'>
			<input type="number" title='шэры' class="form-control" name='vk.views' value='{{vk.views}}'>
			<input type="number" title='публикации' class="form-control" name='vk.posts' value='{{vk.posts}}'>
			<input type="text" class="form-control" name='vk.link' value='{{vk.link}}'>
		</div>
		<div class="input-group">
			<label for = "name">ФБ(подписчики, лайки, шэры, каменты, просмотры, публикации)</label>
			<input type="number" title='подписчики' class="form-control" name='fb.sbcrb' value='{{fb.sbcrb}}'>
			<input type="number" title='лайки' class="form-control" name='fb.likes' value='{{fb.likes}}'>
			<input type="number" title='шэры' class="form-control" name='sfb.shares' value='{{fb.shares}}'>
			<input type="number" title='коменты' class="form-control" name='fb.comments' value='{{fb.comments}}'>
			<input type="number" title='шэры' class="form-control" name='fb.views' value='{{fb.views}}'>
			<input type="number" title='публикации' class="form-control" name='fb.posts' value='{{fb.posts}}'>
			<input type="text" class="form-control" name='fb.link' value='{{fb.link}}'>
		</div>
		<div class="input-group">
			<label for = "name">Инста(подписчики, лайки, шэры, каменты, просмотры, публикации)</label>
			<input type="number" title='подписчики' class="form-control" name='instgm.sbcrb' value='{{instgm.sbcrb}}'>
			<input type="number" title='лайки' class="form-control" name='instgm.likes' value='{{instgm.likes}}'>
			<input type="number" title='шэры' class="form-control" name='instgm.shares' value='{{instgm.shares}}'>
			<input type="number" title='коменты' class="form-control" name='instgm.comments' value='{{instgm.comments}}'>
			<input type="number" title='шэры' class="form-control" name='instgm.views' value='{{instgm.views}}'>
			<input type="number" title='публикации' class="form-control" name='instgm.posts' value='{{instgm.posts}}'>
			<input type="text" class="form-control" name='instgm.link' value='{{instgm.link}}'>
		</div>
		<div class="input-group">
			<label for = "name">Ютуб(подписчики, лайки, шэры, каменты, просмотры, публикации)</label>
			<input type="number" title='подписчики' class="form-control" name='ytb.sbcrb' value='{{ytb.sbcrb}}'>
			<input type="number" title='лайки' class="form-control" name='ytb.likes' value='{{ytb.likes}}'>
			<input type="number" title='шэры' class="form-control" name='ytb.shares' value='{{ytb.shares}}'>
			<input type="number" title='коменты' class="form-control" name='ytb.comments' value='{{ytb.comments}}'>
			<input type="number" title='шэры' class="form-control" name='ytb.views' value='{{ytb.views}}'>
			<input type="number" title='публикации' class="form-control" name='ytb.posts' value='{{ytb.posts}}'>
			<input type="text" class="form-control" name='ytb.link' value='{{ytb.link}}'>
		</div>
	</div>
    <div class="form-group">
		<input class="btn btn-primary" type="submit" value="Сохранить"></input>
 </div>
</form>