<form id="editSocial"  action="/admin/editform?q=editsocialform" method="post" style="margin-left: 5%;">
	<h3>Соц факторы букмекера {{name}}</h3>
	{{#if _id}}
	<input type="text" class="form-control" style='display:none' name='_id' value='{{_id}}' readonly>
	{{else}}
	Страница не существует
	{{/if}}
	<div class="form-group">
		<div class="input-group">
			<label for = "name">Короткое название БК</label>
			<input type="text" class="form-control" name='bk' value='{{bk}}' readonly>
		</div>
	</div>
    <div class="form-group">
		<div class="input-group">
			<label for = "name">Полное название БК</label>
			<input type="text" class="form-control" name='name' value='{{name}}'>
		</div>
	</div>
    <div class="form-group">
		<input class="btn btn-primary" type="submit" value="Сохранить"></input>
 </div>
</form>